#compile stuff
build/
debug/
release/
*.a
*.d
*.o
*.so
*.elf
*.arm7
*.arm9
*.nds
*.class
*.jar
.map
*.map
cmake*/
.gradle/
/dsi/include/libdsi/version.h

#ide stuff
.idea/
.clion/
*.iml
*.ipr

#i have the old dswifi code in this subdirectory locally
/dsi/old/

